

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style  */
.secondary-bg{
    background-color: #fff8f3;
}
.text_primary{
 color: #fd6e0a;
}
.dark-2{
    color: #474747;
    
}
.btn-primary{
    background-color: #fd6e0a;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
}

/* main */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
 list-style: none;
 margin: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;}

/* .banner_content{
        max-width:500px;
    } */

/* banner greetings */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
width: 550px;
padding-left: 900px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style */
.about{
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(245, 234, 234);
padding: 130px 150px;
text-align: center;
margin-top:130px;

}

.about-items{
    display: flex;
    justify-content: space-around;

}
.item-description{
    font-weight: 600;

}

6.6 vedio
